<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>WEATHER STATUS</title>
    <style>
        .containers{
            background-color: blue;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
        }
        .content{
            background-color: black;
            width: 80%;
            height: auto;
            opacity: 0.7;
            margin-top: 10vh;
            border-radius: 25px;
        }
        .title{
            width: 100%;
            height: 10vh;
            background-color: red;
            border-radius: 25px;
            display: flex;
            justify-content: center;
        }
        .title h2{
            color:white;
            font-size: 1.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
           
        }
        h4{
            color: aliceblue;
        }
        h2{
            color: bisque;
            border: 1px solid whitesmoke;
        }
    </style>
</head>
<body>
    <div class="containers">
        <div class="content">
            <div class="title">
                <h2>
                    CHECK WEATHER
                </h2>
            </div>
            <form method="post" action="/" style="padding: 10px;">
                <div class="row">
                    
                    <div class="col-xs-12 col-md-10 col-lg-9">
                         <div class="input-group flex-nowrap">
                            <input type="text" name="citizen" class="form-control" placeholder="City name here ..." aria-label="Username" aria-describedby="addon-wrapping">
                         </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-2 col-lg-3">
                        <button type="submit" class="btn btn-danger" style="opacity:1; padding:10px;">CHECH WEATHER</button>

                    </div>
                </div>
            </form>


            <div style="width:80%; height:auto; margin-left: 10%; margin-right: 10%;" class="results">

                <div class="exactResults row">
                    <div class="col-xs-3 col-md-4 col-lg-4">
                        <h4>CITY NAME</h4>
                    </div>
                    <div class="col-xs-9 col-md-8 col-lg-8">
                       <h2> <%= DatCity %> </h2>
                    </div>
                    <hr>
                </div>

                <div class="exactResults row">
                    <div class="col-xs-3 col-md-4 col-lg-4">
                        <h4>TEMPERATURE IN DEGREES</h4>
                    </div>
                    <div class="col-xs-9 col-md-8 col-lg-8">
                       <h2> <%= TEMP %>  degrees Celcius</h2>
                    </div>
                    <hr>
                </div>

                <div class="exactResults row">
                    <div class="col-xs-3 col-md-4 col-lg-4">
                        <h4>HUMIDITY</h4>
                    </div>
                    <div class="col-xs-9 col-md-8 col-lg-8">
                       <h2><%= HUM %></h2>
                    </div>
                    <hr>
                </div>

                <div class="exactResults row">
                    <div class="col-xs-3 col-md-4 col-lg-4">
                        <h4>WEATHER DESCRIPTION</h4>
                    </div>
                    <div class="col-xs-9 col-md-8 col-lg-8">
                       <h2><%= DES %></h2>
                    </div>
                    <hr>
                </div>
            </div>
            
        </div>
    </div>
  
</body>
</html>